html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

div.WDWindow {
  position: absolute;
  z-index: 9;
  border-radius: 6px 6px 0px 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  background-color: #eee;
  height: auto;
  width: auto;
}

div.WDHeader {
  padding: 2px;
  margin: 0px;
  cursor: 'grab';
  border-radius: 6px 6px 0px 0px;
  z-index: 9;
  background-color: #2196F3;
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
}

div.WDHeader:focus {
    background-color: #1670CD;
}
div.WDHeader:hover {
    background-color: rgba(62,127,196,0.8);
}
div.WDmainWin {
    background-color: rgba(128,127,240,0.9);
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: none;
}

span.WDHeader {
    white-space: nowrap;
}

img.WDMinIcon, img.WDXIcon, img.WDMaxIcon  {
    float: right;
    cursor: pointer;
    height: 100%;
}
img.WDXIcon  {
    margin-right: 8px;
}

