html, body {
    /* Keep the body simple */
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width:100%;
    overflow: hidden
}

div.WDTopDiv {
  position: absolute;
  z-index: 9;
  border-radius: 6px 6px 0px 0px;
  background-color: rgba(240,240,240,0.6);
  margin: 0px;
  cursor: n-resize;
  top: 0px;
  left: 0px;
  height: auto;
  width: auto;
  padding: 20px;
}

div.WDHeader {
  padding: 2px;
  margin: 0px;
  border-radius: 6px 6px 0px 0px;
  background-color: #2196F3;
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
}

span.WDTitleSpan {
    overflow: hide;
}

div.WDHeader:focus {
    /*background-color: #1670CD;*/
    background-color: rgba(62,127,196,0.6);
}
div.WDHeader:hover {
    background-color: rgba(62,127,196,0.6);
}
div.WDMain {
    background-color: rgba(128,127,240,0.3);
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: none;
}

span.WDHeader {
    white-space: nowrap;
}

img.WDAppIcon {
    margin-left: 6px;
    float: left;
    cursor: pointer;
    height: 100%;
    width: 22px;
    height: 18px;
}


img.WDMinIcon, img.WDXIcon, img.WDMaxIcon {
    float: right;
    cursor: pointer;
    height: 100%;
}
img.WDXIcon  {
    margin-right: 8px;
}

